body{
    background-color: whitesmoke;
    margin: 0%;
}


header{
    color: #810000;
    background-color: #eeebdd ;
    height: 90px;
}

header nav{
    float: right;
    width: 50%;
    margin-top: 25px;
}

header h2{
    float: left; 
    margin-left: 25px;
    margin-top: 25px;
}

header nav ul li{
    display: inline-block;
    margin-left:10%;
}


header nav ul li a{
    color: #810000;
    text-decoration: none;
    font-weight: 800;
}

#first{
    background-color: whitesmoke;
    
    height: 450px;
    
    margin: 25px;
    font-weight: 900;
    color:#0e0f0e;
}

#first h4{
    font-size: 35px;
    padding-top: 20px;
}

#first p{
    font-size: 25px;
}


footer{
    height: 100px;
    color:#810000; 
    background-color:#1b1717;
}
footer p{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-weight: 800;
}